[submodule "MILo"]
	path = MILo
	url = https://github.com/Anttwo/MILo.git
[submodule "SuGaR"]
	path = SuGaR
	url = https://github.com/Anttwo/SuGaR.git
[submodule "triangle-splatting"]
	path = triangle-splatting
	url = https://github.com/trianglesplatting/triangle-splatting.git
[submodule "triangle-splatting2"]
	path = triangle-splatting2
	url = https://github.com/trianglesplatting2/triangle-splatting2.git
